.how{
padding:80px 0;
}

.how-box{

background:#fff;
border-radius:30px;
padding:70px 50px;
box-shadow:0 20px 60px rgba(0,0,0,.08);

}

.how-box h2{

text-align:center;
font-size:42px;
font-weight:700;
color:#15213d;

}

.underline{

display:block;
width:70px;
height:5px;
background:#2F80ED;
border-radius:50px;
margin:18px auto 70px;

}

.steps{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
position:relative;

}

.steps::before{

content:"";
position:absolute;
top:58px;
left:12%;
width:76%;
border-top:2px dashed #d7dfea;
z-index:0;

}

.step{

position:relative;
text-align:center;
z-index:2;

}

.icon-circle{

width:110px;
height:110px;
background:#F5F9FF;
border-radius:50%;
margin:auto;

display:flex;
justify-content:center;
align-items:center;

font-size:42px;
color:#2563EB;

transition:.35s;

box-shadow:0 10px 30px rgba(0,0,0,.06);

}

.step:hover .icon-circle{

background:#2563EB;
color:#fff;
transform:translateY(-8px);

}

.step-number{

width:32px;
height:32px;
background:#2563EB;
border-radius:50%;
color:#fff;

display:flex;
justify-content:center;
align-items:center;

font-size:14px;
font-weight:700;

margin:-15px auto 22px;

position:relative;
z-index:5;

}

.step h3{

font-size:26px;
margin-bottom:15px;
color:#15213d;

}

.step p{

font-size:17px;
line-height:1.7;
color:#6B7280;
max-width:220px;
margin:auto;

}

@media(max-width:992px){

.steps{

grid-template-columns:repeat(2,1fr);

}

.steps::before{

display:none;

}

}

@media(max-width:600px){

.how-box{

padding:50px 25px;

}

.steps{

grid-template-columns:1fr;

}

.how-box h2{

font-size:34px;

}

}